.wrapper {
    height: calc(100vh - 2.5rem);
    padding: 1.6rem 2.2rem;
    box-sizing: border-box;
    overflow: auto;
}
.title {
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
}
.subtitle {
    font-size: 0.7rem;
    color: #a3a3a3;
}

.footer {
    height: 2.4rem;
    color: #fff;
    background-color: #1386fc;
}